* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  padding: 40px;
  border: 2px solid white;
}

input {
  width: 100%;
  padding: 14px;
  margin-bottom: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-size: 18px;
}

input::placeholder {
  color: #ccc;
}

button {
  width: 100%;
  padding: 15px;
  background: #FFD700;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ffcc00;
}